<div class="event-delete-screen">
  <header class="event-delete-screen__header">
    {{> header}}
  </header>

  <main class="event-delete-screen__main">
    <div class="event-delete-screen__container">
      {{{eventDeleteCard}}}
    </div>
  </main>
</div>
