<div class="login__form login__form--thankyou">
    <div class="login__wrapper">
        <div class="login__fields login__fields-thankyou">
            <h2 class="login__form-title">Регистрация</h2>

            <div class="login__ticket-email-wrapper">
                <svg class="login__ticket-email-image" width="522" height="236" viewBox="0 0 522 236" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M347.117 0C347.117 7.32234 353.048 13.2587 360.365 13.2588C367.568 13.2588 373.429 7.50626 373.61 0.341797L373.614 0L522 0V83.4854C512.997 92.4845 507.427 104.923 507.427 118.663C507.427 132.403 512.997 144.842 522 153.841V236H373.614C373.614 228.678 367.682 222.741 360.365 222.741C353.048 222.741 347.117 228.678 347.117 236L0 236L0 152.515C9.00324 143.515 14.5732 131.077 14.5732 117.337C14.5731 103.597 9.00329 91.1582 0 82.1592L0 0L347.117 0Z" fill="currentColor"/>
                </svg>
                <span class="login__ticket-email-text">{{email}}</span>
            </div>

            <p class="login__thankyou-text">
                Для подтверждения регистрации перейдите по ссылке в письме, высланном на ваш электронный адрес.
            </p>

            <button class="login__submit js-go-home" type="button">Завершить регистрацию</button>
        </div>
    </div>
</div>