<div class="site-header">
  <div class="container">
    <div class="header-top">
      <a href="/" class="logo" aria-label="CityHawk">
        <span class="logo-mark" aria-hidden="true"></span>
        <span class="logo-text">CityHawk</span>
      </a>

      <div class="header-main">
        <a href="#" class="header-link header-link--with-icon">
          <img src="/public/static/icons/location.svg" alt="" class="header-link-icon" aria-hidden="true" />
          <span>Москва</span>
        </a>
      </div>

      <div class="header-actions">
        {{#if user}}
          <span class="header-link header-link--with-icon header-user">
            <img src="/public/static/icons/person.svg" alt="" class="header-link-icon" aria-hidden="true" />
            <span>{{user.displayName}}</span>
          </span>
          <button type="button" class="header-link header-link--button header-link--with-icon" data-action="logout">
            <img src="/public/static/icons/logout.svg" alt="" class="header-link-icon" aria-hidden="true" />
          </button>
        {{else}}
          <a href="/login" class="header-link header-link--with-icon">
            <img src="/public/static/icons/login.svg" alt="" class="header-link-icon" aria-hidden="true" />
          </a>
        {{/if}}
      </div>
    </div>
  </div>
</div>
