<div class="container">
  <div class="hero-content">
    <h1 class="hero-title">Ближе к событиям</h1>
    <p class="hero-subtitle">
      Концерты, кино, фестивали и спорт<br />
      все в одном месте
    </p>

    <form class="search-form">
      <input
        type="text"
        class="search-input"
        placeholder="Найти события"
      />
      <button class="search-button" type="submit" aria-label="Поиск">
        <img src="/public/static/icons/search.svg" alt="" class="search-button-icon" aria-hidden="true" />
      </button>
    </form>
  </div>
</div>
