<aside class="login__aside">
    <div class="login__branding">
        <img class="login__logo" src="/public/static/assets/logo.svg" alt="CityHawk">
        <div class="login__naming">
            <h1 class="login__title">CityHawk</h1>
            <p class="login__slogan">Ближе к событиям</p>
        </div>
    </div>
    <div class="login__tickets">
        <div class="login__tickets-group login__tickets-first">
            <img class="login__ticket login__ticket-color2" src="/public/static/assets/ticket_accent2.svg">
            <img class="login__ticket login__ticket-color2" src="/public/static/assets/ticket_accent2.svg">
            <img class="login__ticket login__ticket-color2" src="/public/static/assets/ticket_accent2.svg">
            <img class="login__ticket login__ticket-color2" src="/public/static/assets/ticket_accent2.svg">
        </div>
        <div class="login__tickets-group login__tickets-second">
            <img class="login__ticket login__ticket-color1" src="/public/static/assets/ticket_accent1.svg">
            <img class="login__ticket login__ticket-color1" src="/public/static/assets/ticket_accent1.svg">
            <img class="login__ticket login__ticket-color1" src="/public/static/assets/ticket_accent1.svg">
            <img class="login__ticket login__ticket-color1" src="/public/static/assets/ticket_accent1.svg">
        </div>
        <div class="login__tickets-group login__tickets-third">
            <img class="login__ticket login__ticket-color2" src="/public/static/assets/ticket_accent2.svg">
            <img class="login__ticket login__ticket-color2" src="/public/static/assets/ticket_accent2.svg">
            <img class="login__ticket login__ticket-color2" src="/public/static/assets/ticket_accent2.svg">
            <img class="login__ticket login__ticket-color2" src="/public/static/assets/ticket_accent2.svg">
        </div>
    </div>
</aside>
