<aside class="login__aside">
    <div class="login__branding">
        <span class="login__logo" aria-hidden="true"></span>
        <div class="login__naming">
            <h1 class="login__title">CityHawk</h1>
            <p class="login__slogan">Ближе к событиям</p>
        </div>
    </div>
    <div class="login__tickets">
        <div class="login__tickets-group login__tickets-first">
            <svg class="login__ticket login__ticket-color2" viewBox="0 0 394 178" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="path-1-inside-1_25_138" fill="white">
                <path d="M262 0C262 5.52285 266.477 10 272 10C277.523 10 282 5.52285 282 0L394 0V62.9678C387.204 69.7552 383 79.1365 383 89.5C383 99.8638 387.204 109.246 394 116.033V178H282C282 172.477 277.523 168 272 168C266.477 168 262 172.477 262 178L0 178L0 115.032C6.79564 108.245 11 98.8635 11 88.5C11 78.1362 6.79592 68.7543 0 61.9668L0 0L262 0Z"/>
                </mask>
                <path d="M262 0L272 0V-10H262V0ZM282 0V-10L272 -10V0L282 0ZM394 0L404 0V-10L394 -10V0ZM394 62.9678L401.067 70.0431L404 67.1134V62.9678H394ZM394 116.033H404V111.887L401.067 108.958L394 116.033ZM394 178V188H404V178H394ZM282 178H272V188H282V178ZM262 178V188H272V178H262ZM0 178H-10V188H0L0 178ZM0 115.032L-7.0668 107.957L-10 110.887L-10 115.032H0ZM0 61.9668H-10V66.1126L-7.06667 69.0423L0 61.9668ZM0 0L0 -10H-10V0L0 0ZM262 0L252 0C252 11.0457 260.954 20 272 20V10V0L262 0ZM272 10V20C283.046 20 292 11.0457 292 0L282 0L272 0V10ZM282 0V10L394 10V0V-10L282 -10V0ZM394 0L384 0V62.9678H394H404V0L394 0ZM394 62.9678L386.933 55.8924C378.337 64.4786 373 76.3752 373 89.5H383L393 89.5C393 81.8977 396.072 75.0318 401.067 70.0431L394 62.9678ZM383 89.5H373C373 102.625 378.336 114.522 386.933 123.109L394 116.033L401.067 108.958C396.072 103.969 393 97.1029 393 89.5L383 89.5ZM394 116.033H384V178H394H404V116.033H394ZM394 178V168H282V178V188H394V178ZM282 178H292C292 166.954 283.046 158 272 158V168V178H282ZM272 168V158C260.954 158 252 166.954 252 178L262 178H272V168ZM262 178V168L0 168L0 178L0 188L262 188V178ZM0 178H10L10 115.032H0H-10L-10 178H0ZM0 115.032L7.0668 122.108C15.6633 113.521 21 101.625 21 88.5H11H1C1 96.1023 -2.07205 102.968 -7.0668 107.957L0 115.032ZM11 88.5H21C21 75.3754 15.6639 63.4779 7.06667 54.8913L0 61.9668L-7.06667 69.0423C-2.07205 74.0307 1 80.8971 1 88.5H11ZM0 61.9668H10L10 0L0 0L-10 0L-10 61.9668H0ZM0 0L0 10L262 10V0V-10L0 -10L0 0Z" fill="currentColor" mask="url(#path-1-inside-1_25_138)"/>
                <rect width="0" height="174" transform="translate(274 2)" fill="currentColor"/>
                <line x1="271.5" y1="24" x2="271.5" y2="14" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="44" x2="271.5" y2="34" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="64" x2="271.5" y2="54" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="84" x2="271.5" y2="74" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="104" x2="271.5" y2="94" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="124" x2="271.5" y2="114" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="144" x2="271.5" y2="134" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="164" x2="271.5" y2="154" stroke="currentColor" stroke-width="5"/>
            </svg>
            <svg class="login__ticket login__ticket-color2" viewBox="0 0 394 178" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="path-1-inside-1_25_138" fill="white">
                <path d="M262 0C262 5.52285 266.477 10 272 10C277.523 10 282 5.52285 282 0L394 0V62.9678C387.204 69.7552 383 79.1365 383 89.5C383 99.8638 387.204 109.246 394 116.033V178H282C282 172.477 277.523 168 272 168C266.477 168 262 172.477 262 178L0 178L0 115.032C6.79564 108.245 11 98.8635 11 88.5C11 78.1362 6.79592 68.7543 0 61.9668L0 0L262 0Z"/>
                </mask>
                <path d="M262 0L272 0V-10H262V0ZM282 0V-10L272 -10V0L282 0ZM394 0L404 0V-10L394 -10V0ZM394 62.9678L401.067 70.0431L404 67.1134V62.9678H394ZM394 116.033H404V111.887L401.067 108.958L394 116.033ZM394 178V188H404V178H394ZM282 178H272V188H282V178ZM262 178V188H272V178H262ZM0 178H-10V188H0L0 178ZM0 115.032L-7.0668 107.957L-10 110.887L-10 115.032H0ZM0 61.9668H-10V66.1126L-7.06667 69.0423L0 61.9668ZM0 0L0 -10H-10V0L0 0ZM262 0L252 0C252 11.0457 260.954 20 272 20V10V0L262 0ZM272 10V20C283.046 20 292 11.0457 292 0L282 0L272 0V10ZM282 0V10L394 10V0V-10L282 -10V0ZM394 0L384 0V62.9678H394H404V0L394 0ZM394 62.9678L386.933 55.8924C378.337 64.4786 373 76.3752 373 89.5H383L393 89.5C393 81.8977 396.072 75.0318 401.067 70.0431L394 62.9678ZM383 89.5H373C373 102.625 378.336 114.522 386.933 123.109L394 116.033L401.067 108.958C396.072 103.969 393 97.1029 393 89.5L383 89.5ZM394 116.033H384V178H394H404V116.033H394ZM394 178V168H282V178V188H394V178ZM282 178H292C292 166.954 283.046 158 272 158V168V178H282ZM272 168V158C260.954 158 252 166.954 252 178L262 178H272V168ZM262 178V168L0 168L0 178L0 188L262 188V178ZM0 178H10L10 115.032H0H-10L-10 178H0ZM0 115.032L7.0668 122.108C15.6633 113.521 21 101.625 21 88.5H11H1C1 96.1023 -2.07205 102.968 -7.0668 107.957L0 115.032ZM11 88.5H21C21 75.3754 15.6639 63.4779 7.06667 54.8913L0 61.9668L-7.06667 69.0423C-2.07205 74.0307 1 80.8971 1 88.5H11ZM0 61.9668H10L10 0L0 0L-10 0L-10 61.9668H0ZM0 0L0 10L262 10V0V-10L0 -10L0 0Z" fill="currentColor" mask="url(#path-1-inside-1_25_138)"/>
                <rect width="0" height="174" transform="translate(274 2)" fill="currentColor"/>
                <line x1="271.5" y1="24" x2="271.5" y2="14" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="44" x2="271.5" y2="34" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="64" x2="271.5" y2="54" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="84" x2="271.5" y2="74" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="104" x2="271.5" y2="94" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="124" x2="271.5" y2="114" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="144" x2="271.5" y2="134" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="164" x2="271.5" y2="154" stroke="currentColor" stroke-width="5"/>
            </svg>
            <svg class="login__ticket login__ticket-color2" viewBox="0 0 394 178" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="path-1-inside-1_25_138" fill="white">
                <path d="M262 0C262 5.52285 266.477 10 272 10C277.523 10 282 5.52285 282 0L394 0V62.9678C387.204 69.7552 383 79.1365 383 89.5C383 99.8638 387.204 109.246 394 116.033V178H282C282 172.477 277.523 168 272 168C266.477 168 262 172.477 262 178L0 178L0 115.032C6.79564 108.245 11 98.8635 11 88.5C11 78.1362 6.79592 68.7543 0 61.9668L0 0L262 0Z"/>
                </mask>
                <path d="M262 0L272 0V-10H262V0ZM282 0V-10L272 -10V0L282 0ZM394 0L404 0V-10L394 -10V0ZM394 62.9678L401.067 70.0431L404 67.1134V62.9678H394ZM394 116.033H404V111.887L401.067 108.958L394 116.033ZM394 178V188H404V178H394ZM282 178H272V188H282V178ZM262 178V188H272V178H262ZM0 178H-10V188H0L0 178ZM0 115.032L-7.0668 107.957L-10 110.887L-10 115.032H0ZM0 61.9668H-10V66.1126L-7.06667 69.0423L0 61.9668ZM0 0L0 -10H-10V0L0 0ZM262 0L252 0C252 11.0457 260.954 20 272 20V10V0L262 0ZM272 10V20C283.046 20 292 11.0457 292 0L282 0L272 0V10ZM282 0V10L394 10V0V-10L282 -10V0ZM394 0L384 0V62.9678H394H404V0L394 0ZM394 62.9678L386.933 55.8924C378.337 64.4786 373 76.3752 373 89.5H383L393 89.5C393 81.8977 396.072 75.0318 401.067 70.0431L394 62.9678ZM383 89.5H373C373 102.625 378.336 114.522 386.933 123.109L394 116.033L401.067 108.958C396.072 103.969 393 97.1029 393 89.5L383 89.5ZM394 116.033H384V178H394H404V116.033H394ZM394 178V168H282V178V188H394V178ZM282 178H292C292 166.954 283.046 158 272 158V168V178H282ZM272 168V158C260.954 158 252 166.954 252 178L262 178H272V168ZM262 178V168L0 168L0 178L0 188L262 188V178ZM0 178H10L10 115.032H0H-10L-10 178H0ZM0 115.032L7.0668 122.108C15.6633 113.521 21 101.625 21 88.5H11H1C1 96.1023 -2.07205 102.968 -7.0668 107.957L0 115.032ZM11 88.5H21C21 75.3754 15.6639 63.4779 7.06667 54.8913L0 61.9668L-7.06667 69.0423C-2.07205 74.0307 1 80.8971 1 88.5H11ZM0 61.9668H10L10 0L0 0L-10 0L-10 61.9668H0ZM0 0L0 10L262 10V0V-10L0 -10L0 0Z" fill="currentColor" mask="url(#path-1-inside-1_25_138)"/>
                <rect width="0" height="174" transform="translate(274 2)" fill="currentColor"/>
                <line x1="271.5" y1="24" x2="271.5" y2="14" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="44" x2="271.5" y2="34" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="64" x2="271.5" y2="54" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="84" x2="271.5" y2="74" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="104" x2="271.5" y2="94" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="124" x2="271.5" y2="114" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="144" x2="271.5" y2="134" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="164" x2="271.5" y2="154" stroke="currentColor" stroke-width="5"/>
            </svg>
            <svg class="login__ticket login__ticket-color2" viewBox="0 0 394 178" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="path-1-inside-1_25_138" fill="white">
                <path d="M262 0C262 5.52285 266.477 10 272 10C277.523 10 282 5.52285 282 0L394 0V62.9678C387.204 69.7552 383 79.1365 383 89.5C383 99.8638 387.204 109.246 394 116.033V178H282C282 172.477 277.523 168 272 168C266.477 168 262 172.477 262 178L0 178L0 115.032C6.79564 108.245 11 98.8635 11 88.5C11 78.1362 6.79592 68.7543 0 61.9668L0 0L262 0Z"/>
                </mask>
                <path d="M262 0L272 0V-10H262V0ZM282 0V-10L272 -10V0L282 0ZM394 0L404 0V-10L394 -10V0ZM394 62.9678L401.067 70.0431L404 67.1134V62.9678H394ZM394 116.033H404V111.887L401.067 108.958L394 116.033ZM394 178V188H404V178H394ZM282 178H272V188H282V178ZM262 178V188H272V178H262ZM0 178H-10V188H0L0 178ZM0 115.032L-7.0668 107.957L-10 110.887L-10 115.032H0ZM0 61.9668H-10V66.1126L-7.06667 69.0423L0 61.9668ZM0 0L0 -10H-10V0L0 0ZM262 0L252 0C252 11.0457 260.954 20 272 20V10V0L262 0ZM272 10V20C283.046 20 292 11.0457 292 0L282 0L272 0V10ZM282 0V10L394 10V0V-10L282 -10V0ZM394 0L384 0V62.9678H394H404V0L394 0ZM394 62.9678L386.933 55.8924C378.337 64.4786 373 76.3752 373 89.5H383L393 89.5C393 81.8977 396.072 75.0318 401.067 70.0431L394 62.9678ZM383 89.5H373C373 102.625 378.336 114.522 386.933 123.109L394 116.033L401.067 108.958C396.072 103.969 393 97.1029 393 89.5L383 89.5ZM394 116.033H384V178H394H404V116.033H394ZM394 178V168H282V178V188H394V178ZM282 178H292C292 166.954 283.046 158 272 158V168V178H282ZM272 168V158C260.954 158 252 166.954 252 178L262 178H272V168ZM262 178V168L0 168L0 178L0 188L262 188V178ZM0 178H10L10 115.032H0H-10L-10 178H0ZM0 115.032L7.0668 122.108C15.6633 113.521 21 101.625 21 88.5H11H1C1 96.1023 -2.07205 102.968 -7.0668 107.957L0 115.032ZM11 88.5H21C21 75.3754 15.6639 63.4779 7.06667 54.8913L0 61.9668L-7.06667 69.0423C-2.07205 74.0307 1 80.8971 1 88.5H11ZM0 61.9668H10L10 0L0 0L-10 0L-10 61.9668H0ZM0 0L0 10L262 10V0V-10L0 -10L0 0Z" fill="currentColor" mask="url(#path-1-inside-1_25_138)"/>
                <rect width="0" height="174" transform="translate(274 2)" fill="currentColor"/>
                <line x1="271.5" y1="24" x2="271.5" y2="14" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="44" x2="271.5" y2="34" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="64" x2="271.5" y2="54" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="84" x2="271.5" y2="74" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="104" x2="271.5" y2="94" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="124" x2="271.5" y2="114" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="144" x2="271.5" y2="134" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="164" x2="271.5" y2="154" stroke="currentColor" stroke-width="5"/>
            </svg>
        </div>
        <div class="login__tickets-group login__tickets-second">
            <svg class="login__ticket login__ticket-color1" viewBox="0 0 394 178" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="path-1-inside-1_25_138" fill="white">
                <path d="M262 0C262 5.52285 266.477 10 272 10C277.523 10 282 5.52285 282 0L394 0V62.9678C387.204 69.7552 383 79.1365 383 89.5C383 99.8638 387.204 109.246 394 116.033V178H282C282 172.477 277.523 168 272 168C266.477 168 262 172.477 262 178L0 178L0 115.032C6.79564 108.245 11 98.8635 11 88.5C11 78.1362 6.79592 68.7543 0 61.9668L0 0L262 0Z"/>
                </mask>
                <path d="M262 0L272 0V-10H262V0ZM282 0V-10L272 -10V0L282 0ZM394 0L404 0V-10L394 -10V0ZM394 62.9678L401.067 70.0431L404 67.1134V62.9678H394ZM394 116.033H404V111.887L401.067 108.958L394 116.033ZM394 178V188H404V178H394ZM282 178H272V188H282V178ZM262 178V188H272V178H262ZM0 178H-10V188H0L0 178ZM0 115.032L-7.0668 107.957L-10 110.887L-10 115.032H0ZM0 61.9668H-10V66.1126L-7.06667 69.0423L0 61.9668ZM0 0L0 -10H-10V0L0 0ZM262 0L252 0C252 11.0457 260.954 20 272 20V10V0L262 0ZM272 10V20C283.046 20 292 11.0457 292 0L282 0L272 0V10ZM282 0V10L394 10V0V-10L282 -10V0ZM394 0L384 0V62.9678H394H404V0L394 0ZM394 62.9678L386.933 55.8924C378.337 64.4786 373 76.3752 373 89.5H383L393 89.5C393 81.8977 396.072 75.0318 401.067 70.0431L394 62.9678ZM383 89.5H373C373 102.625 378.336 114.522 386.933 123.109L394 116.033L401.067 108.958C396.072 103.969 393 97.1029 393 89.5L383 89.5ZM394 116.033H384V178H394H404V116.033H394ZM394 178V168H282V178V188H394V178ZM282 178H292C292 166.954 283.046 158 272 158V168V178H282ZM272 168V158C260.954 158 252 166.954 252 178L262 178H272V168ZM262 178V168L0 168L0 178L0 188L262 188V178ZM0 178H10L10 115.032H0H-10L-10 178H0ZM0 115.032L7.0668 122.108C15.6633 113.521 21 101.625 21 88.5H11H1C1 96.1023 -2.07205 102.968 -7.0668 107.957L0 115.032ZM11 88.5H21C21 75.3754 15.6639 63.4779 7.06667 54.8913L0 61.9668L-7.06667 69.0423C-2.07205 74.0307 1 80.8971 1 88.5H11ZM0 61.9668H10L10 0L0 0L-10 0L-10 61.9668H0ZM0 0L0 10L262 10V0V-10L0 -10L0 0Z" fill="currentColor" mask="url(#path-1-inside-1_25_138)"/>
                <rect width="0" height="174" transform="translate(274 2)" fill="currentColor"/>
                <line x1="271.5" y1="24" x2="271.5" y2="14" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="44" x2="271.5" y2="34" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="64" x2="271.5" y2="54" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="84" x2="271.5" y2="74" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="104" x2="271.5" y2="94" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="124" x2="271.5" y2="114" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="144" x2="271.5" y2="134" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="164" x2="271.5" y2="154" stroke="currentColor" stroke-width="5"/>
            </svg>
            <svg class="login__ticket login__ticket-color1" viewBox="0 0 394 178" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="path-1-inside-1_25_138" fill="white">
                <path d="M262 0C262 5.52285 266.477 10 272 10C277.523 10 282 5.52285 282 0L394 0V62.9678C387.204 69.7552 383 79.1365 383 89.5C383 99.8638 387.204 109.246 394 116.033V178H282C282 172.477 277.523 168 272 168C266.477 168 262 172.477 262 178L0 178L0 115.032C6.79564 108.245 11 98.8635 11 88.5C11 78.1362 6.79592 68.7543 0 61.9668L0 0L262 0Z"/>
                </mask>
                <path d="M262 0L272 0V-10H262V0ZM282 0V-10L272 -10V0L282 0ZM394 0L404 0V-10L394 -10V0ZM394 62.9678L401.067 70.0431L404 67.1134V62.9678H394ZM394 116.033H404V111.887L401.067 108.958L394 116.033ZM394 178V188H404V178H394ZM282 178H272V188H282V178ZM262 178V188H272V178H262ZM0 178H-10V188H0L0 178ZM0 115.032L-7.0668 107.957L-10 110.887L-10 115.032H0ZM0 61.9668H-10V66.1126L-7.06667 69.0423L0 61.9668ZM0 0L0 -10H-10V0L0 0ZM262 0L252 0C252 11.0457 260.954 20 272 20V10V0L262 0ZM272 10V20C283.046 20 292 11.0457 292 0L282 0L272 0V10ZM282 0V10L394 10V0V-10L282 -10V0ZM394 0L384 0V62.9678H394H404V0L394 0ZM394 62.9678L386.933 55.8924C378.337 64.4786 373 76.3752 373 89.5H383L393 89.5C393 81.8977 396.072 75.0318 401.067 70.0431L394 62.9678ZM383 89.5H373C373 102.625 378.336 114.522 386.933 123.109L394 116.033L401.067 108.958C396.072 103.969 393 97.1029 393 89.5L383 89.5ZM394 116.033H384V178H394H404V116.033H394ZM394 178V168H282V178V188H394V178ZM282 178H292C292 166.954 283.046 158 272 158V168V178H282ZM272 168V158C260.954 158 252 166.954 252 178L262 178H272V168ZM262 178V168L0 168L0 178L0 188L262 188V178ZM0 178H10L10 115.032H0H-10L-10 178H0ZM0 115.032L7.0668 122.108C15.6633 113.521 21 101.625 21 88.5H11H1C1 96.1023 -2.07205 102.968 -7.0668 107.957L0 115.032ZM11 88.5H21C21 75.3754 15.6639 63.4779 7.06667 54.8913L0 61.9668L-7.06667 69.0423C-2.07205 74.0307 1 80.8971 1 88.5H11ZM0 61.9668H10L10 0L0 0L-10 0L-10 61.9668H0ZM0 0L0 10L262 10V0V-10L0 -10L0 0Z" fill="currentColor" mask="url(#path-1-inside-1_25_138)"/>
                <rect width="0" height="174" transform="translate(274 2)" fill="currentColor"/>
                <line x1="271.5" y1="24" x2="271.5" y2="14" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="44" x2="271.5" y2="34" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="64" x2="271.5" y2="54" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="84" x2="271.5" y2="74" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="104" x2="271.5" y2="94" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="124" x2="271.5" y2="114" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="144" x2="271.5" y2="134" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="164" x2="271.5" y2="154" stroke="currentColor" stroke-width="5"/>
            </svg>
            <svg class="login__ticket login__ticket-color1" viewBox="0 0 394 178" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="path-1-inside-1_25_138" fill="white">
                <path d="M262 0C262 5.52285 266.477 10 272 10C277.523 10 282 5.52285 282 0L394 0V62.9678C387.204 69.7552 383 79.1365 383 89.5C383 99.8638 387.204 109.246 394 116.033V178H282C282 172.477 277.523 168 272 168C266.477 168 262 172.477 262 178L0 178L0 115.032C6.79564 108.245 11 98.8635 11 88.5C11 78.1362 6.79592 68.7543 0 61.9668L0 0L262 0Z"/>
                </mask>
                <path d="M262 0L272 0V-10H262V0ZM282 0V-10L272 -10V0L282 0ZM394 0L404 0V-10L394 -10V0ZM394 62.9678L401.067 70.0431L404 67.1134V62.9678H394ZM394 116.033H404V111.887L401.067 108.958L394 116.033ZM394 178V188H404V178H394ZM282 178H272V188H282V178ZM262 178V188H272V178H262ZM0 178H-10V188H0L0 178ZM0 115.032L-7.0668 107.957L-10 110.887L-10 115.032H0ZM0 61.9668H-10V66.1126L-7.06667 69.0423L0 61.9668ZM0 0L0 -10H-10V0L0 0ZM262 0L252 0C252 11.0457 260.954 20 272 20V10V0L262 0ZM272 10V20C283.046 20 292 11.0457 292 0L282 0L272 0V10ZM282 0V10L394 10V0V-10L282 -10V0ZM394 0L384 0V62.9678H394H404V0L394 0ZM394 62.9678L386.933 55.8924C378.337 64.4786 373 76.3752 373 89.5H383L393 89.5C393 81.8977 396.072 75.0318 401.067 70.0431L394 62.9678ZM383 89.5H373C373 102.625 378.336 114.522 386.933 123.109L394 116.033L401.067 108.958C396.072 103.969 393 97.1029 393 89.5L383 89.5ZM394 116.033H384V178H394H404V116.033H394ZM394 178V168H282V178V188H394V178ZM282 178H292C292 166.954 283.046 158 272 158V168V178H282ZM272 168V158C260.954 158 252 166.954 252 178L262 178H272V168ZM262 178V168L0 168L0 178L0 188L262 188V178ZM0 178H10L10 115.032H0H-10L-10 178H0ZM0 115.032L7.0668 122.108C15.6633 113.521 21 101.625 21 88.5H11H1C1 96.1023 -2.07205 102.968 -7.0668 107.957L0 115.032ZM11 88.5H21C21 75.3754 15.6639 63.4779 7.06667 54.8913L0 61.9668L-7.06667 69.0423C-2.07205 74.0307 1 80.8971 1 88.5H11ZM0 61.9668H10L10 0L0 0L-10 0L-10 61.9668H0ZM0 0L0 10L262 10V0V-10L0 -10L0 0Z" fill="currentColor" mask="url(#path-1-inside-1_25_138)"/>
                <rect width="0" height="174" transform="translate(274 2)" fill="currentColor"/>
                <line x1="271.5" y1="24" x2="271.5" y2="14" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="44" x2="271.5" y2="34" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="64" x2="271.5" y2="54" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="84" x2="271.5" y2="74" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="104" x2="271.5" y2="94" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="124" x2="271.5" y2="114" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="144" x2="271.5" y2="134" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="164" x2="271.5" y2="154" stroke="currentColor" stroke-width="5"/>
            </svg>
            <svg class="login__ticket login__ticket-color1" viewBox="0 0 394 178" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="path-1-inside-1_25_138" fill="white">
                <path d="M262 0C262 5.52285 266.477 10 272 10C277.523 10 282 5.52285 282 0L394 0V62.9678C387.204 69.7552 383 79.1365 383 89.5C383 99.8638 387.204 109.246 394 116.033V178H282C282 172.477 277.523 168 272 168C266.477 168 262 172.477 262 178L0 178L0 115.032C6.79564 108.245 11 98.8635 11 88.5C11 78.1362 6.79592 68.7543 0 61.9668L0 0L262 0Z"/>
                </mask>
                <path d="M262 0L272 0V-10H262V0ZM282 0V-10L272 -10V0L282 0ZM394 0L404 0V-10L394 -10V0ZM394 62.9678L401.067 70.0431L404 67.1134V62.9678H394ZM394 116.033H404V111.887L401.067 108.958L394 116.033ZM394 178V188H404V178H394ZM282 178H272V188H282V178ZM262 178V188H272V178H262ZM0 178H-10V188H0L0 178ZM0 115.032L-7.0668 107.957L-10 110.887L-10 115.032H0ZM0 61.9668H-10V66.1126L-7.06667 69.0423L0 61.9668ZM0 0L0 -10H-10V0L0 0ZM262 0L252 0C252 11.0457 260.954 20 272 20V10V0L262 0ZM272 10V20C283.046 20 292 11.0457 292 0L282 0L272 0V10ZM282 0V10L394 10V0V-10L282 -10V0ZM394 0L384 0V62.9678H394H404V0L394 0ZM394 62.9678L386.933 55.8924C378.337 64.4786 373 76.3752 373 89.5H383L393 89.5C393 81.8977 396.072 75.0318 401.067 70.0431L394 62.9678ZM383 89.5H373C373 102.625 378.336 114.522 386.933 123.109L394 116.033L401.067 108.958C396.072 103.969 393 97.1029 393 89.5L383 89.5ZM394 116.033H384V178H394H404V116.033H394ZM394 178V168H282V178V188H394V178ZM282 178H292C292 166.954 283.046 158 272 158V168V178H282ZM272 168V158C260.954 158 252 166.954 252 178L262 178H272V168ZM262 178V168L0 168L0 178L0 188L262 188V178ZM0 178H10L10 115.032H0H-10L-10 178H0ZM0 115.032L7.0668 122.108C15.6633 113.521 21 101.625 21 88.5H11H1C1 96.1023 -2.07205 102.968 -7.0668 107.957L0 115.032ZM11 88.5H21C21 75.3754 15.6639 63.4779 7.06667 54.8913L0 61.9668L-7.06667 69.0423C-2.07205 74.0307 1 80.8971 1 88.5H11ZM0 61.9668H10L10 0L0 0L-10 0L-10 61.9668H0ZM0 0L0 10L262 10V0V-10L0 -10L0 0Z" fill="currentColor" mask="url(#path-1-inside-1_25_138)"/>
                <rect width="0" height="174" transform="translate(274 2)" fill="currentColor"/>
                <line x1="271.5" y1="24" x2="271.5" y2="14" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="44" x2="271.5" y2="34" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="64" x2="271.5" y2="54" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="84" x2="271.5" y2="74" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="104" x2="271.5" y2="94" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="124" x2="271.5" y2="114" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="144" x2="271.5" y2="134" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="164" x2="271.5" y2="154" stroke="currentColor" stroke-width="5"/>
            </svg>
        </div>
        <div class="login__tickets-group login__tickets-third">
            <svg class="login__ticket login__ticket-color2" viewBox="0 0 394 178" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="path-1-inside-1_25_138" fill="white">
                <path d="M262 0C262 5.52285 266.477 10 272 10C277.523 10 282 5.52285 282 0L394 0V62.9678C387.204 69.7552 383 79.1365 383 89.5C383 99.8638 387.204 109.246 394 116.033V178H282C282 172.477 277.523 168 272 168C266.477 168 262 172.477 262 178L0 178L0 115.032C6.79564 108.245 11 98.8635 11 88.5C11 78.1362 6.79592 68.7543 0 61.9668L0 0L262 0Z"/>
                </mask>
                <path d="M262 0L272 0V-10H262V0ZM282 0V-10L272 -10V0L282 0ZM394 0L404 0V-10L394 -10V0ZM394 62.9678L401.067 70.0431L404 67.1134V62.9678H394ZM394 116.033H404V111.887L401.067 108.958L394 116.033ZM394 178V188H404V178H394ZM282 178H272V188H282V178ZM262 178V188H272V178H262ZM0 178H-10V188H0L0 178ZM0 115.032L-7.0668 107.957L-10 110.887L-10 115.032H0ZM0 61.9668H-10V66.1126L-7.06667 69.0423L0 61.9668ZM0 0L0 -10H-10V0L0 0ZM262 0L252 0C252 11.0457 260.954 20 272 20V10V0L262 0ZM272 10V20C283.046 20 292 11.0457 292 0L282 0L272 0V10ZM282 0V10L394 10V0V-10L282 -10V0ZM394 0L384 0V62.9678H394H404V0L394 0ZM394 62.9678L386.933 55.8924C378.337 64.4786 373 76.3752 373 89.5H383L393 89.5C393 81.8977 396.072 75.0318 401.067 70.0431L394 62.9678ZM383 89.5H373C373 102.625 378.336 114.522 386.933 123.109L394 116.033L401.067 108.958C396.072 103.969 393 97.1029 393 89.5L383 89.5ZM394 116.033H384V178H394H404V116.033H394ZM394 178V168H282V178V188H394V178ZM282 178H292C292 166.954 283.046 158 272 158V168V178H282ZM272 168V158C260.954 158 252 166.954 252 178L262 178H272V168ZM262 178V168L0 168L0 178L0 188L262 188V178ZM0 178H10L10 115.032H0H-10L-10 178H0ZM0 115.032L7.0668 122.108C15.6633 113.521 21 101.625 21 88.5H11H1C1 96.1023 -2.07205 102.968 -7.0668 107.957L0 115.032ZM11 88.5H21C21 75.3754 15.6639 63.4779 7.06667 54.8913L0 61.9668L-7.06667 69.0423C-2.07205 74.0307 1 80.8971 1 88.5H11ZM0 61.9668H10L10 0L0 0L-10 0L-10 61.9668H0ZM0 0L0 10L262 10V0V-10L0 -10L0 0Z" fill="currentColor" mask="url(#path-1-inside-1_25_138)"/>
                <rect width="0" height="174" transform="translate(274 2)" fill="currentColor"/>
                <line x1="271.5" y1="24" x2="271.5" y2="14" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="44" x2="271.5" y2="34" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="64" x2="271.5" y2="54" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="84" x2="271.5" y2="74" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="104" x2="271.5" y2="94" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="124" x2="271.5" y2="114" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="144" x2="271.5" y2="134" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="164" x2="271.5" y2="154" stroke="currentColor" stroke-width="5"/>
            </svg>
            <svg class="login__ticket login__ticket-color2" viewBox="0 0 394 178" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="path-1-inside-1_25_138" fill="white">
                <path d="M262 0C262 5.52285 266.477 10 272 10C277.523 10 282 5.52285 282 0L394 0V62.9678C387.204 69.7552 383 79.1365 383 89.5C383 99.8638 387.204 109.246 394 116.033V178H282C282 172.477 277.523 168 272 168C266.477 168 262 172.477 262 178L0 178L0 115.032C6.79564 108.245 11 98.8635 11 88.5C11 78.1362 6.79592 68.7543 0 61.9668L0 0L262 0Z"/>
                </mask>
                <path d="M262 0L272 0V-10H262V0ZM282 0V-10L272 -10V0L282 0ZM394 0L404 0V-10L394 -10V0ZM394 62.9678L401.067 70.0431L404 67.1134V62.9678H394ZM394 116.033H404V111.887L401.067 108.958L394 116.033ZM394 178V188H404V178H394ZM282 178H272V188H282V178ZM262 178V188H272V178H262ZM0 178H-10V188H0L0 178ZM0 115.032L-7.0668 107.957L-10 110.887L-10 115.032H0ZM0 61.9668H-10V66.1126L-7.06667 69.0423L0 61.9668ZM0 0L0 -10H-10V0L0 0ZM262 0L252 0C252 11.0457 260.954 20 272 20V10V0L262 0ZM272 10V20C283.046 20 292 11.0457 292 0L282 0L272 0V10ZM282 0V10L394 10V0V-10L282 -10V0ZM394 0L384 0V62.9678H394H404V0L394 0ZM394 62.9678L386.933 55.8924C378.337 64.4786 373 76.3752 373 89.5H383L393 89.5C393 81.8977 396.072 75.0318 401.067 70.0431L394 62.9678ZM383 89.5H373C373 102.625 378.336 114.522 386.933 123.109L394 116.033L401.067 108.958C396.072 103.969 393 97.1029 393 89.5L383 89.5ZM394 116.033H384V178H394H404V116.033H394ZM394 178V168H282V178V188H394V178ZM282 178H292C292 166.954 283.046 158 272 158V168V178H282ZM272 168V158C260.954 158 252 166.954 252 178L262 178H272V168ZM262 178V168L0 168L0 178L0 188L262 188V178ZM0 178H10L10 115.032H0H-10L-10 178H0ZM0 115.032L7.0668 122.108C15.6633 113.521 21 101.625 21 88.5H11H1C1 96.1023 -2.07205 102.968 -7.0668 107.957L0 115.032ZM11 88.5H21C21 75.3754 15.6639 63.4779 7.06667 54.8913L0 61.9668L-7.06667 69.0423C-2.07205 74.0307 1 80.8971 1 88.5H11ZM0 61.9668H10L10 0L0 0L-10 0L-10 61.9668H0ZM0 0L0 10L262 10V0V-10L0 -10L0 0Z" fill="currentColor" mask="url(#path-1-inside-1_25_138)"/>
                <rect width="0" height="174" transform="translate(274 2)" fill="currentColor"/>
                <line x1="271.5" y1="24" x2="271.5" y2="14" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="44" x2="271.5" y2="34" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="64" x2="271.5" y2="54" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="84" x2="271.5" y2="74" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="104" x2="271.5" y2="94" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="124" x2="271.5" y2="114" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="144" x2="271.5" y2="134" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="164" x2="271.5" y2="154" stroke="currentColor" stroke-width="5"/>
            </svg>
            <svg class="login__ticket login__ticket-color2" viewBox="0 0 394 178" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="path-1-inside-1_25_138" fill="white">
                <path d="M262 0C262 5.52285 266.477 10 272 10C277.523 10 282 5.52285 282 0L394 0V62.9678C387.204 69.7552 383 79.1365 383 89.5C383 99.8638 387.204 109.246 394 116.033V178H282C282 172.477 277.523 168 272 168C266.477 168 262 172.477 262 178L0 178L0 115.032C6.79564 108.245 11 98.8635 11 88.5C11 78.1362 6.79592 68.7543 0 61.9668L0 0L262 0Z"/>
                </mask>
                <path d="M262 0L272 0V-10H262V0ZM282 0V-10L272 -10V0L282 0ZM394 0L404 0V-10L394 -10V0ZM394 62.9678L401.067 70.0431L404 67.1134V62.9678H394ZM394 116.033H404V111.887L401.067 108.958L394 116.033ZM394 178V188H404V178H394ZM282 178H272V188H282V178ZM262 178V188H272V178H262ZM0 178H-10V188H0L0 178ZM0 115.032L-7.0668 107.957L-10 110.887L-10 115.032H0ZM0 61.9668H-10V66.1126L-7.06667 69.0423L0 61.9668ZM0 0L0 -10H-10V0L0 0ZM262 0L252 0C252 11.0457 260.954 20 272 20V10V0L262 0ZM272 10V20C283.046 20 292 11.0457 292 0L282 0L272 0V10ZM282 0V10L394 10V0V-10L282 -10V0ZM394 0L384 0V62.9678H394H404V0L394 0ZM394 62.9678L386.933 55.8924C378.337 64.4786 373 76.3752 373 89.5H383L393 89.5C393 81.8977 396.072 75.0318 401.067 70.0431L394 62.9678ZM383 89.5H373C373 102.625 378.336 114.522 386.933 123.109L394 116.033L401.067 108.958C396.072 103.969 393 97.1029 393 89.5L383 89.5ZM394 116.033H384V178H394H404V116.033H394ZM394 178V168H282V178V188H394V178ZM282 178H292C292 166.954 283.046 158 272 158V168V178H282ZM272 168V158C260.954 158 252 166.954 252 178L262 178H272V168ZM262 178V168L0 168L0 178L0 188L262 188V178ZM0 178H10L10 115.032H0H-10L-10 178H0ZM0 115.032L7.0668 122.108C15.6633 113.521 21 101.625 21 88.5H11H1C1 96.1023 -2.07205 102.968 -7.0668 107.957L0 115.032ZM11 88.5H21C21 75.3754 15.6639 63.4779 7.06667 54.8913L0 61.9668L-7.06667 69.0423C-2.07205 74.0307 1 80.8971 1 88.5H11ZM0 61.9668H10L10 0L0 0L-10 0L-10 61.9668H0ZM0 0L0 10L262 10V0V-10L0 -10L0 0Z" fill="currentColor" mask="url(#path-1-inside-1_25_138)"/>
                <rect width="0" height="174" transform="translate(274 2)" fill="currentColor"/>
                <line x1="271.5" y1="24" x2="271.5" y2="14" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="44" x2="271.5" y2="34" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="64" x2="271.5" y2="54" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="84" x2="271.5" y2="74" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="104" x2="271.5" y2="94" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="124" x2="271.5" y2="114" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="144" x2="271.5" y2="134" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="164" x2="271.5" y2="154" stroke="currentColor" stroke-width="5"/>
            </svg>
            <svg class="login__ticket login__ticket-color2" viewBox="0 0 394 178" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="path-1-inside-1_25_138" fill="white">
                <path d="M262 0C262 5.52285 266.477 10 272 10C277.523 10 282 5.52285 282 0L394 0V62.9678C387.204 69.7552 383 79.1365 383 89.5C383 99.8638 387.204 109.246 394 116.033V178H282C282 172.477 277.523 168 272 168C266.477 168 262 172.477 262 178L0 178L0 115.032C6.79564 108.245 11 98.8635 11 88.5C11 78.1362 6.79592 68.7543 0 61.9668L0 0L262 0Z"/>
                </mask>
                <path d="M262 0L272 0V-10H262V0ZM282 0V-10L272 -10V0L282 0ZM394 0L404 0V-10L394 -10V0ZM394 62.9678L401.067 70.0431L404 67.1134V62.9678H394ZM394 116.033H404V111.887L401.067 108.958L394 116.033ZM394 178V188H404V178H394ZM282 178H272V188H282V178ZM262 178V188H272V178H262ZM0 178H-10V188H0L0 178ZM0 115.032L-7.0668 107.957L-10 110.887L-10 115.032H0ZM0 61.9668H-10V66.1126L-7.06667 69.0423L0 61.9668ZM0 0L0 -10H-10V0L0 0ZM262 0L252 0C252 11.0457 260.954 20 272 20V10V0L262 0ZM272 10V20C283.046 20 292 11.0457 292 0L282 0L272 0V10ZM282 0V10L394 10V0V-10L282 -10V0ZM394 0L384 0V62.9678H394H404V0L394 0ZM394 62.9678L386.933 55.8924C378.337 64.4786 373 76.3752 373 89.5H383L393 89.5C393 81.8977 396.072 75.0318 401.067 70.0431L394 62.9678ZM383 89.5H373C373 102.625 378.336 114.522 386.933 123.109L394 116.033L401.067 108.958C396.072 103.969 393 97.1029 393 89.5L383 89.5ZM394 116.033H384V178H394H404V116.033H394ZM394 178V168H282V178V188H394V178ZM282 178H292C292 166.954 283.046 158 272 158V168V178H282ZM272 168V158C260.954 158 252 166.954 252 178L262 178H272V168ZM262 178V168L0 168L0 178L0 188L262 188V178ZM0 178H10L10 115.032H0H-10L-10 178H0ZM0 115.032L7.0668 122.108C15.6633 113.521 21 101.625 21 88.5H11H1C1 96.1023 -2.07205 102.968 -7.0668 107.957L0 115.032ZM11 88.5H21C21 75.3754 15.6639 63.4779 7.06667 54.8913L0 61.9668L-7.06667 69.0423C-2.07205 74.0307 1 80.8971 1 88.5H11ZM0 61.9668H10L10 0L0 0L-10 0L-10 61.9668H0ZM0 0L0 10L262 10V0V-10L0 -10L0 0Z" fill="currentColor" mask="url(#path-1-inside-1_25_138)"/>
                <rect width="0" height="174" transform="translate(274 2)" fill="currentColor"/>
                <line x1="271.5" y1="24" x2="271.5" y2="14" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="44" x2="271.5" y2="34" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="64" x2="271.5" y2="54" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="84" x2="271.5" y2="74" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="104" x2="271.5" y2="94" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="124" x2="271.5" y2="114" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="144" x2="271.5" y2="134" stroke="currentColor" stroke-width="5"/>
                <line x1="271.5" y1="164" x2="271.5" y2="154" stroke="currentColor" stroke-width="5"/>
            </svg>
        </div>
    </div>
</aside>
