<section class="main-bottom">
  <div class="container">
    <section class="mood">
      <h2 class="section-title">Найди своё настроение!</h2>

      <div class="mood-layout">
        <div class="mood-left">
          <article class="mood-card mood-card--wide">
            <img src="/public/static/img/club.jpeg" alt="Ночная жизнь" class="mood-image" />
            <span class="mood-tag">Ночная жизнь</span>
          </article>

          <article class="mood-card">
            <img src="/public/static/img/eat.jpg" alt="Гастро-места" class="mood-image" />
            <span class="mood-tag">Гастро-места</span>
          </article>

          <article class="mood-card">
            <img src="/public/static/img/love.jpg" alt="Романтический вечер" class="mood-image" />
            <span class="mood-tag">Романтический вечер</span>
          </article>
        </div>

        <article class="mood-card mood-card--tall">
          <img src="/public/static/img/photo.jpeg" alt="Места для фото" class="mood-image" />
          <span class="mood-tag">Места для фото</span>
        </article>
      </div>
    </section>
  </div>
</section>
