<section class="main-top">
  <div class="container">
    <section class="places">
      <h2 class="section-title section-title--light">
        Места, которые стоит посетить
      </h2>

      <div class="places-grid">
        <article class="card">
          <img src="/public/static/img/futurione.jpeg" alt="Futurione" class="card-image" />
          <h3 class="card-title">Futurione</h3>
          <p class="card-text">ВДНХ, Москва</p>
        </article>

        <article class="card">
          <img src="/public/static/img/navka.jpeg" alt="Ледовое шоу Татьяны Навки" class="card-image" />
          <h3 class="card-title">Ледовое шоу Татьяны Навки</h3>
          <p class="card-text">10 февраля - 21 марта, Navka arena, Москва</p>
        </article>

        <article class="card">
          <img src="/public/static/img/standup.png" alt="Женский стендап" class="card-image" />
          <h3 class="card-title">Женский стендап</h3>
          <p class="card-text">27 марта, Live Арена, Москва</p>
        </article>

        <article class="card">
          <img src="/public/static/img/balet.jpg" alt="Балет Щелкунчик" class="card-image" />
          <h3 class="card-title">Балет Щелкунчик</h3>
          <p class="card-text">14 марта, Большой театр, Москва</p>
        </article>

        <article class="card">
          <img src="/public/static/img/art.png" alt="Искусство XX века" class="card-image" />
          <h3 class="card-title">Искусство XX века</h3>
          <p class="card-text">10–24 марта, Третьяковская галерея, Москва</p>
        </article>

        <article class="card">
          <img src="/public/static/img/rok.jpg" alt="Рок-концерт" class="card-image" />
          <h3 class="card-title">Рок-концерт</h3>
          <p class="card-text">20 марта, Атмосфера, Москва</p>
        </article>

        <article class="card">
          <img src="/public/static/img/concert.jpeg" alt="Руки Вверх" class="card-image" />
          <h3 class="card-title">Руки Вверх</h3>
          <p class="card-text">17 марта, Лужники, Москва</p>
        </article>

        <article class="card">
          <img src="/public/static/img/horror.jpg" alt="Квест Искупление" class="card-image" />
          <h3 class="card-title">Квест Искупление</h3>
          <p class="card-text">улица Пруд-Ключики, 5, Москва</p>
        </article>
      </div>
    </section>
  </div>
</section>
