<div class="login__form login__form--thankyou">
    <div class="login__wrapper">
        <h2 class="login__form-title">Спасибо за регистрацию!</h2>
        <div class="login__fields">
            <p class="login__thankyou-text">
                Ваш аккаунт успешно создан.<br>
                На email <strong>{{email}}</strong> выслано подтверждение.
            </p>

            <div class="login__buttons">
                <a href="/" class="login__submit login__submit--home">На главную</a>
            </div>
        </div>
    </div>
</div>
