<div class="login__form login__form--thankyou">
    <div class="login__wrapper">
        <div class="login__fields login__fields-thankyou">
            <h2 class="login__form-title">Регистрация</h2>

            <div class="login__ticket-email-wrapper">
                <img src="/public/static/assets/fullfilled_ticket.svg" class="login__ticket-email-image">
                <span class="login__ticket-email-text">{{email}}</span>
            </div>

            <p class="login__thankyou-text">
                Для подтверждения регистрации перейдите по ссылке в письме, высланном на ваш электронный адрес.
            </p>

            <button onclick="window.location.href='/'" class="login__submit" type="button">Завершить регистрацию</button>
        </div>
    </div>
</div>