<div class="login__form">
  <div class="login__wrapper">
      <h2 class="login__form-title">Регистрация</h2>
      <div class="login__fields">
          <div class="login__field login__email">
              <label for="email">Email</label>
              <div class="login__field-error-wrapper">
                  <div class="login__field-icon-wrapper login__field-icon-wrapper-noicon">
                      <input type="email" id="email" name="email" placeholder="Введите email">
                  </div>
                  <p class="login__error-message"></p>
              </div>
          </div>
          <div class="login__field login__password">
              <label for="password">Пароль</label>
              <div class="login__field-error-wrapper">
                  <div class="login__field-icon-wrapper">
                      <input type="password" id="password" name="password" placeholder="Введите пароль">
                      <button class="login__password-toggle" type="button" aria-label="Показать пароль">
                          <img src="/public/static/assets/eye.svg" alt="Показать пароль">
                      </button>
                  </div>
                  <p class="login__error-message"></p>
              </div>
          </div>
          <div class="login__field login__password-confirm login__bottomfield">
              <label for="password-confirm">Повторите пароль</label>
              <div class="login__field-error-wrapper">
                  <div class="login__field-icon-wrapper">
                      <input type="password" id="password-confirm" name="password-confirm" placeholder="Повторите пароль">
                      <button class="login__password-toggle login__password-toggle-confirm" type="button" aria-label="Показать пароль">
                          <img src="/public/static/assets/eye.svg" alt="Показать пароль">
                      </button>
                  </div>
                  <p class="login__error-message"></p>
              </div>
          </div>
          <div class="login__buttons">
              <button class="login__prev" type="button">Назад</button>
              <button class="login__next" type="submit">Далее</button>
          </div>
          <div class="login__oauth">
              <a href="/login" class="login__register">Уже есть аккаунт?</a>
          </div>
      </div>
  </div>
</div>