<div class="profile-page">
  <header class="profile-page__header">
    {{> header}}
  </header>

  <main class="profile-page__content">
    <div class="profile-page__container site-header__container">
      <section class="profile profile--single">
        {{> profile-overview}}
      </section>
    </div>
  </main>
</div>
