<div class="home-page">
  <header class="home-page__hero">
    {{> header}}
    {{{heroSearch}}}
  </header>

  <main class="home-page__content">
    {{{homeEventsSection}}}
    {{{homeMoodSection}}}
  </main>
</div>
