<div class="events-map-page">
  <header class="events-map-page__header">
    {{> header}}
  </header>

  <main class="events-map-page__main">
    <section class="events-map-page__layout">
      <div class="events-map-page__moods-slot">
        {{{eventsMapMoodSidebar}}}
      </div>

      <div class="events-map-page__map-slot">
        {{{eventsMapCanvas}}}
      </div>
    </section>
  </main>
</div>
