<main class="support-widget">
  <header class="support-widget__header">
    <div>
      <p class="support-widget__eyebrow">CityHawk</p>
      <h1 class="support-widget__title">Поддержка</h1>
    </div>
  </header>

  <nav class="support-widget__nav" aria-label="Разделы поддержки">
    <a class="support-widget__nav-link {{#if isHome}}support-widget__nav-link--active{{/if}}" href="/support-widget">Главная</a>
    <a class="support-widget__nav-link {{#if isNew}}support-widget__nav-link--active{{/if}}" href="/support-widget/new">Новое</a>
    <a class="support-widget__nav-link {{#if isTickets}}support-widget__nav-link--active{{/if}}" href="/support-widget/tickets">Мои обращения</a>
  </nav>

  {{#if errorMessage}}
    <p class="support-alert support-alert--error">{{errorMessage}}</p>
  {{/if}}

  {{{content}}}
</main>
