<div class="site-header">
  <div class="site-header__container">
    <div class="site-header__row">
      <div class="site-header__left">
        <div class="site-header__menu">
          <button
            type="button"
            class="site-header__menu-trigger"
            aria-label="Открыть меню"
            aria-haspopup="menu"
          >
            <img src="/public/static/icons/menu.svg" alt="" class="site-header__menu-icon" aria-hidden="true" />
          </button>

          <aside class="site-header__sidebar" aria-label="Навигационное меню">
            <nav class="site-header__sidebar-nav">
              <div class="site-header__sidebar-group">
                <h3 class="site-header__sidebar-group-title">Навигация</h3>
                <a href="/" class="site-header__sidebar-link">Главная</a>
                <a href="/events" class="site-header__sidebar-link">Все события</a>
                <a href="/events-map" class="site-header__sidebar-link">Карта</a>
              </div>

              <div class="site-header__sidebar-group">
                <h3 class="site-header__sidebar-group-title">Личное</h3>
                <a href="/profile" class="site-header__sidebar-link">Найти друзей</a>
                <a href="/profile" class="site-header__sidebar-link">Профиль</a>
                <a href="/profile" class="site-header__sidebar-link">Избранное</a>
                <a href="/profile" class="site-header__sidebar-link">Мои подборки</a>
                <a href="/profile/settings" class="site-header__sidebar-link">Настройки</a>
              </div>

              <div class="site-header__sidebar-group">
                <h3 class="site-header__sidebar-group-title">Система</h3>
                <a href="/support" class="site-header__sidebar-link">Поддержка</a>
                <a href="/organizer/apply" class="site-header__sidebar-link">Стать организатором</a>
              </div>
            </nav>

            <div class="site-header__sidebar-footer">
              <a href="/login" class="site-header__sidebar-link site-header__sidebar-link--exit">Выход</a>
            </div>
          </aside>
        </div>

        <a href="/" class="site-header__brand" aria-label="CityHawk">
          <span class="site-header__brand-mark" aria-hidden="true"></span>
          <span class="site-header__brand-text">CityHawk</span>
        </a>
      </div>

      <div class="site-header__main">
        <div class="site-header__city" data-role="header-city">
          <button
            type="button"
            class="site-header__link site-header__link--with-icon site-header__link--button site-header__city-trigger"
            data-role="header-city-trigger"
            aria-label="Выбрать город"
            aria-haspopup="listbox"
            aria-expanded="false"
          >
            <img src="/public/static/icons/location.svg" alt="" class="site-header__link-icon" aria-hidden="true" />
            <span data-role="header-city-label">Москва</span>
          </button>
          <div class="site-header__city-menu" data-role="header-city-menu" hidden>
            <button
              type="button"
              class="site-header__city-option"
              data-role="header-city-option"
              data-city-id=""
              data-city-name=""
            >Все города</button>
            <div data-role="header-city-options"></div>
          </div>
        </div>

        {{#if headerSearch}}
          <div class="site-header__search-wrap" data-role="header-search-wrap">
            <form class="site-header__search" data-role="header-search-form">
              <input
                type="text"
                name="query"
                class="site-header__search-input"
                placeholder="Найти события"
                value="{{headerSearch.query}}"
                autocomplete="off"
              />
              <button class="site-header__search-button" type="submit" aria-label="Поиск">
                <img src="/public/static/icons/search.svg" alt="" class="site-header__search-icon" aria-hidden="true" />
              </button>
            </form>
            <div
              class="site-header__search-suggestions"
              data-role="header-search-suggestions"
              hidden
            ></div>
          </div>
        {{/if}}
      </div>

      <div class="site-header__actions">
        {{#if user}}
          <a href="/profile" class="site-header__link site-header__link--with-icon site-header__user">
            <img src="/public/static/icons/person.svg" alt="" class="site-header__link-icon" aria-hidden="true" />
            <span>{{user.displayName}}</span>
          </a>
        {{else}}
          <a href="/login" class="site-header__signin">Войти</a>
        {{/if}}
      </div>
    </div>
  </div>
</div>
