<section class="event-location">
  <div class="event-location__container">
    <div class="event-location__grid">
      <div class="event-location__info">
        <h2 class="event-location__title">Как добраться?</h2>

        <div class="event-location__text">
          {{#each paragraphs}}
            <p class="event-location__paragraph">{{this}}</p>
          {{/each}}
        </div>
      </div>

      <div class="event-location__map">
        <img src="{{mapImageUrl}}" alt="{{mapAlt}}" class="event-location__map-image" />
        <span class="event-location__map-pin"></span>
      </div>
    </div>
  </div>
</section>
