<div class="event-create-page">
  <header class="event-create-page__header">
    {{> header}}
  </header>

  <main class="event-create-page__main">
    <div class="event-create-page__container">
      <section class="event-create-page__intro">
        <p class="event-create-page__eyebrow">Новое событие</p>
        <h1 class="event-create-page__title">Создай мероприятие для CityHawk</h1>
      </section>

      {{{eventCreateForm}}}
    </div>
  </main>
</div>
