:root {
    /* 
     * ========================================
     * SPACING & SIZES
     * ========================================
     */
    
    /* Логотип */
    --radius-logo: 100px;                   /* Logo frame (corner radius) */
    --height-logo: 100px;                    /* PC logo height */
    --gap-logo: 20px;                        /* PC logo gap */
    
    /* Билетики */
    --ticket-width: 300px;                    /* PC ticket width */
    --gap-tickets: 15px;                     /* PC tickets gap */
    --gap-ticket-groups: 15px;                /* PC ticket groups gap */
    --shift-ticket-group-1: 0;                /* PC ticket group 1 shift */
    --shift-ticket-group-2: 250px;            /* PC ticket group 2 shift */
    --shift-ticket-group-3: 0;                /* PC ticket group 3 shift */
    --shift-ticket-group-1-before: 0;         /* PC ticket group 1 shift before animation */
    --shift-ticket-group-2-before: 1900px;    /* PC ticket group 2 shift before animation */
    --shift-ticket-group-3-before: 0;         /* PC ticket group 3 shift before animation*/
    --stroke-ticket: 10px;                    /* Ticket stroke */
    
    /* Секции */
    --gap-logo-section: 10px;                 /* PC logo section gap */
    
    /* Инпуты */
    --width-input: 500px;                     /* PC input width */
    --height-input: 50px;                      /* PC input height */
    --padding-input: 20px;                     /* Input padding */
    --radius-input: 10px;                      /* Input corner radius */
    --stroke-input-active: 2px;                /* Input active stroke */
    --width-input-half: 220px;                 /* PC half input width */
    --icon-height-input: 30px;                    /* PC input icon height */
    
    /* Кнопки */
    --radius-button: 40px;                    /* Buttons corner radius */
    --height-button: 50px;                     /* PC buttons height */
    --width-button: 500px;                     /* PC buttons width */
    --width-button-half: 220px;                 /* PC half button width */
    --gap-buttons-half: 50px;                   /* Half buttons gap */
    
    /* Отступы */
    --gap-annotation: 12px;                    /* Annotation gap */
    --gap-fields: 35px;                         /* Fields gap */
    --gap-oauth-fields: 30px;                   /* Oauth fields gap */
    --gap-small-annotation: 10px;               /* Small annotation gap */
    --padding-bottom-field: 30px;                /* Bottom field padding above button */
    --paddings-sidebar: 65px;                 /* PC sidebar top and bottom padding */
    --sidebar-gap: 90px;                      /* PC sidebar gap between logo and tickets */
    --final-register-gap: 70px;                    /* Gap between final register message and button */
    
    /* OAuth */
    --size-oauth: 50px;                         /* PC oauth size */
    --stroke-oauth: 1px;                        /* PC oauth stroke */
    --width-or-lines: 130px;                     /* PC or lines width */
    --gap-or-lines: 40px;                        /* PC or lines gap */
    --gap-oauth-logos: 50px;                     /* PC oauth logos gap */
    --jump--oauth-logos: 5px;                     /* PC oauth logos jump on hover */
    
    /* Сообщения */
    --radius-messages: 20px;                    /* Messages corner radius */
}

/* ========================================
   ASIDE STYLES (левая часть)
   ======================================== */

main.login {
  height: 100vh;
  width: 100vw;
}

.login__aside {
    display: flex;
    flex-direction: column;
    gap: var(--sidebar-gap);
    justify-content: center;

    padding-top: var(--paddings-sidebar);
    padding-bottom: var(--paddings-sidebar);
    gap: var(--sidebar-gap); 
}

.login__title {
    font-family: var(--font-company, sans-serif);
    font-size: var(--text-company-name);
    color: var(--color-blank);
    
    letter-spacing: -0.07em;
    
    line-height: 100%;
    font-weight: 400;
}

.login__slogan {
    font-family: var(--font-slogan, sans-serif);
    font-size: var(--text-slogan);
    color: var(--color-blank);
    
    line-height: 100%;
    font-weight: 400;
}

.login__naming {
    display: flex;
    flex-direction: column;
    gap: var(--gap-logo-section);
    align-items: flex-end;
}

.login__logo {
    height: var(--height-logo);
    width: calc(var(--height-logo) * 213 / 120);
    aspect-ratio: 213 / 120;
    display: block;
    flex-shrink: 0;
    background-color: currentColor;
    -webkit-mask: url("/public/static/assets/logo.svg") center / contain no-repeat;
    mask: url("/public/static/assets/logo.svg") center / contain no-repeat;
}

.login__branding {
    color: var(--color-blank);
    display: flex;
    flex-direction: row;
    gap: var(--gap-logo);
    align-items: center;
}

.login__tickets-first svg {
    transform: rotate(180deg);
}

.login__tickets-third svg {
    transform: rotate(180deg);
}

.login {
    display: flex;
    background-color: var(--color-blank);
    height: 100%;
    width: 100%;
}

.login__aside, .login__form {
    flex: 1;
    flex-shrink: 0;
}

.login__aside {
    flex: 1 1 0;
    min-width: 0;
    background-color: var(--color-background-tone-1);
    border-top-right-radius: var(--radius-logo);
    border-bottom-right-radius: var(--radius-logo);
    
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.login__tickets {
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: var(--gap-ticket-groups);
}

.login__tickets-group {
    display: flex;
    flex-direction: row;
    gap: var(--gap-tickets);    
    width: max-content;
}

.login__ticket {
    width: var(--ticket-width);
    height: auto;
    aspect-ratio: 394 / 178;
    object-fit: cover;
    flex-shrink: 0;
}

.login__tickets-first {
    padding-left: var(--shift-ticket-group-1);
}

.login__tickets-second {
    padding-left: var(--shift-ticket-group-2);
}

.login__tickets-third {
    padding-left: var(--shift-ticket-group-3);
}


.login__ticket-color1{
  color: var(--color-accent-4);
}

.login__ticket-color2{
  color: var(--color-accent-2);
}

/* ========================================
   FORM STYLES (правая часть)
   ======================================== */

.login__form {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login__wrapper {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-logo);    
}

.login__form-title {
    font-family: var(--font-slogan, sans-serif);
    font-size: var(--text-form-title);
    color: var(--color-background-tone-1);
    font-weight: 700;
    line-height: 100%;
}

.login__fields {
    display: flex;
    flex-direction: column;
    gap: var(--gap-fields);
}

.login__field {
    display: flex;
    flex-direction: column;
    gap: var(--gap-annotation);
}

.login__field label {
    font-family: var(--font-primary, sans-serif);
    font-size: var(--text-annotation);
    color: var(--color-accent-1);
    font-weight: 400;
    line-height: 100%;
}

.login__field input {
    width: var(--width-input);
    height: var(--height-input);
    padding: 0 var(--padding-input);
    border: none;
    border-radius: var(--radius-input);
    font-family: var(--font-primary, sans-serif);
    font-size: var(--text-input);
    color: var(--color-accent-1);
    background: var(--color-input-midtone-1);
}

.login__field input::placeholder {
    color: var(--color-placeholder);
    font-size: var(--text-input);
    opacity: 1;
}

.login__forgot {
    font-family: var(--font-primary, sans-serif);
    font-size: var(--text-links);
    color: var(--color-accent-1);
    text-decoration: underline;
    align-self: flex-end;
    line-height: 100%;
}

.login__submit {
    width: var(--width-button);
    height: var(--height-button);
    background: var(--color-background-tone-1);
    color: var(--color-blank);
    font-family: var(--font-primary, sans-serif);
    font-size: var(--text-button);
    font-weight: 400;
    border: none;
    border-radius: var(--radius-button);
    cursor: pointer;
}

.login__oauth {
    display: flex;
    flex-direction: column;
    gap: var(--gap-oauth-fields);
    align-items: center;
}

.login__divider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--gap-or-lines);
    width: 100%;
}

.login__divider::before,
.login__divider::after {
    content: '';
    width: var(--width-or-lines);
    height: var(--stroke-oauth);
    background: var(--color-accent-1, #003049);
}

.login__divider-text {
    font-family: var(--font-primary, sans-serif);
    font-size: var(--text-small-annotation);  
    color: var(--color-accent-1);
    line-height: 100%;
}

.login__oauth-buttons {
    display: flex;
    justify-content: center;
    gap: var(--gap-oauth-logos);
}

.login__oauth-wrapper {
    width: var(--size-oauth);
    height: calc(var(--size-oauth) + var(--jump--oauth-logos));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.login__oauth-btn {
    width: var(--size-oauth);
    height: var(--size-oauth);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.login__oauth-btn--yandex {
    background-image: url('/public/static/assets/yandex.svg');
}

.login__oauth-btn--google {
    background-image: url('/public/static/assets/google.svg');
}

.login__oauth-btn--vk {
    background-image: url('/public/static/assets/vk.svg');
}

.login__register {
    font-family: var(--font-primary, sans-serif);
    font-size: var(--text-links);
    color: var(--color-accent-1, #003049);
    text-decoration: underline;
    text-align: center;
}

.login__bottomfield {
    padding-bottom: var(--padding-bottom-field);
}

.login__buttons {
    display: flex;
    justify-content: center;
    gap: var(--gap-buttons-half);
}

.login__next,
.login__prev {
    width: var(--width-button-half);
    height: var(--height-button);
    background: var(--color-background-tone-1);
    color: var(--color-blank);
    font-family: var(--font-primary, sans-serif);
    font-size: var(--text-button);
    font-weight: 400;
    border: none;
    border-radius: var(--radius-button);
    cursor: pointer;
}

/* ========================================
   HOVER & ACTIVE STATES
   ======================================== */

.login__forgot:hover,
.login__register:hover {
    color: var(--color-accent-3);
}

.login__forgot:active,
.login__register:active {
    color: var(--color-accent-2);
}

.login__submit,
.login__prev,
.login__next {
    transition: background-color 0.3s ease-out;
}

.login__submit:hover,
.login__prev:hover,
.login__next:hover {  
    background: var(--color-accent-3);
}

.login__submit:active,
.login__prev:active,
.login__next:active {
    background: var(--color-accent-2);
    transform: scale(0.98);
    transition: all 0.1s ease-out;
}

.login__oauth-btn {
    transition: transform 0.3s ease-out;
}

.login__oauth-btn:hover {
    transform: translateY(calc(var(--jump--oauth-logos) * -1));
}

.login__oauth-btn:active {
    transform: scale(0.95) translateY(calc(var(--jump--oauth-logos) * -1));
    transition: transform 0.1s ease-out;
}

.login__field input {
    transition: border-color 0.3s ease-out;
    border: var(--stroke-input-active) solid transparent;
}

.login__field input:hover {
    border-color: var(--color-accent-3);
}

.login__field input:focus {
    border-color: var(--color-accent-1);
}

/* ========================================
   PASSWORD TOGGLE BUTTON
   ======================================== */

.login__field-icon-wrapper {
    position: relative;
}

.login__field-icon-wrapper input {
    padding-right: calc(var(--padding-input) * 2 + var(--icon-height-input));
}

.login__password-toggle {
    position: absolute;
    right: var(--padding-input);
    top: 50%;
    transform: translateY(-50%);
    width: var(--icon-height-input);
    height: var(--icon-height-input);
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    color: var(--color-accent-1);
}

.login__password-toggle svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.login__password-toggle:active {
    transform: translateY(-50%) scale(0.95);
}

.login__field-icon-wrapper input:hover {
    border-color: var(--color-accent-3);
}

.login__field-icon-wrapper input:active,
.login__field-icon-wrapper input:focus {
    border-color: var(--color-accent-1);
}

.login__field-icon-wrapper-noicon input {
    padding-right: var(--padding-input);
}

/* ========================================
   TICKETS LOAD ANIMATION
   ======================================== */

.login__tickets-group {
    transition: padding-left 0.8s cubic-bezier(0.34, 1.3, 0.5, 1);  /* пружинистая анимация */
}

/* Начальное состояние */
.login__tickets-first {
    padding-left: var(--shift-ticket-group-1-before);
}

.login__tickets-second {
    padding-left: var(--shift-ticket-group-2-before);
}

.login__tickets-third {
    padding-left: var(--shift-ticket-group-3-before);
}

/* Конечное состояние */
.login.loaded .login__tickets-first {
    padding-left: var(--shift-ticket-group-1);
}

.login.loaded .login__tickets-second {
    padding-left: var(--shift-ticket-group-2);
}

.login.loaded .login__tickets-third {
    padding-left: var(--shift-ticket-group-3);
}

/* ========================================
   ERROR MESSAGES
   ======================================== */

.login__field-error-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small-annotation);
}

.login__error-message {
    color: var(--color-mid);
    font-family: var(--font-primary);
    font-size: var(--text-small-annotation);
}

.login__error-message:empty {
    display: none;
}

.login__field-error-wrapper--error input,
.login__field-error-wrapper--error input:hover,
.login__field-error-wrapper--error input:focus,
.login__field-error-wrapper--error input:active {
    border-color: var(--color-mid);
}

/* ========================================
   THANK YOU PAGE STYLES
   ======================================== */

.login__form--thankyou .login__wrapper {
    text-align: center;
}

.login__form--thankyou .login__form-title {
    color: var(--color-background-tone-1);
    text-align: center;
}

.login__form--thankyou .login__fields {
    width: 100%;
    align-items: center;
}

.login__fields-thankyou {
    display: flex;
    flex-direction: column;
    gap: var(--final-register-gap);
}

/* Билетик с email поверх */
.login__ticket-email-wrapper {
    color: var(--color-accent-4);
    position: relative;
    width: fit-content;
    margin: 0 auto;
    line-height: 0; /* Убирает лишний отступ под SVG */
}

.login__ticket-email-image {
    width: calc(var(--ticket-width) * 1.35);
    height: auto;
    display: block;
}

.login__ticket-email-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font-primary, sans-serif);
    font-size: var(--text-input);
    color: var(--color-accent-1);
    font-weight: 400;
    text-align: center;
    width: 80%;
    word-break: break-all;
    line-height: 1.2; /* Восстанавливаем нормальный межстрочный интервал для текста */
    pointer-events: none; /* Чтобы текст не мешал кликам по билетику */
}

/* Текст с ограничением по ширине */
.login__thankyou-text {
    max-width: var(--width-button);
    margin-left: auto;
    margin-right: auto;
    font-family: var(--font-primary, sans-serif);
    font-size: var(--text-annotation);
    color: var(--color-accent-1);
    font-weight: 400;
    text-align: center;
}

/* Анимация появления */
@keyframes ticketFloat {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.login__ticket-email-wrapper {
    animation: ticketFloat 0.6s ease-out forwards;
}

.login__thankyou-text {
    animation: ticketFloat 0.6s ease-out 0.2s forwards;
    opacity: 0;
}
/* ========================================
RESPONSIVE SYSTEM
======================================== */

.login__aside {
  justify-content: space-between;
}

.login__branding {
  margin: auto 0;
}

.login__tickets {
  margin-top: auto;
}

/* ========================================
LAPTOP / TABLET / PHONE / DESKTOP / BIG / ULTRA / MINI-MINI
======================================== */

/* -----------------------------
LAPTOP (max-width:1600px)
----------------------------- */
@media (max-width:1600px) {
  :root {
    --width-input: 620px;
    --width-button: 620px;
    --width-button-half: 290px;

    --height-input: 54px;
    --height-button: 54px;

    --ticket-width: 270px;
    --shift-ticket-group-2: 210px;

    --gap-fields: 42px;
    --gap-oauth-fields: 26px;
    --gap-oauth-logos: 38px;

    --text-input: 16px;
    --text-button: 16px;
    --text-links: 15px;
  }

  .login__aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .login__branding {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}

/* -----------------------------
TABLET (max-width:1350px)
----------------------------- */
@media (max-width:1350px) {
  :root {
    --ticket-width: 210px;
    --shift-ticket-group-2: 150px;

    --width-input: 440px;
    --width-button: 440px;
    --width-button-half: 200px;

    --height-input: 50px;
    --height-button: 50px;

    --gap-buttons-half: 20px;

    --gap-fields: 34px;
    --gap-oauth-fields: 22px;
    --gap-oauth-logos: 30px;

    --height-logo: 70px;

    --text-company-name: 42px;
    --text-slogan: 18px;

    --text-input: 15px;
    --text-button: 15px;
    --text-links: 14px;
    --text-annotation: 14px;
    --text-small-annotation: 13px;

    --sidebar-gap: 60px;
  }

  .login__aside {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
  }

  .login__form {
    flex: 0 0 60%;
  }

  .login__logo {
    display: none;
  }

  .login__slogan {
    display: block;
  }

  .login__branding {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* -----------------------------
PHONE (max-width:1000px)
----------------------------- */
@media (max-width:1000px) {
  :root {
    --width-input: 100%;
    --width-button: 100%;
    --width-button-half: 48%;

    --height-input: 52px;
    --height-button: 52px;

    --padding-input: 18px;

    --gap-fields: 25px;
    --gap-annotation: 10px;
    --gap-oauth-fields: 24px;
    --gap-oauth-logos: 26px;

    --padding-bottom-field: 25px;

    --text-company-name: 34px;
    --text-form-title: 26px;

    --text-input: 15px;
    --text-button: 15px;
    --text-links: 13px;

    --text-annotation: 14px;
    --text-small-annotation: 13px;

    --sidebar-gap: 30px;
    --gap-logo-section: 6px;

    --wrapper-gap: 36px;
    --fields-gap: 38px;
  }

  html, body {
    overflow-x: hidden;
    width: 100%;
  }

  main.login {
    box-sizing: border-box;
    padding: 0;
    height: auto;
    min-height: 100vh;
    overflow-y: auto;
  }

  .login {
    flex-direction: column;
    width: 100%;
  }

  .login__aside {
    width: 100%;
    flex: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    padding: 50px 40px;
    justify-content: center;
    align-items: center;
  }

  .login__logo {
    display: none;
  }

  .login__slogan {
    display: block;
  }

  .login__tickets {
    display: none;
  }

  .login__branding {
    margin: 0;
    justify-content: center;
  }

  .login__naming {
    align-items: center;
    gap: 6px;
  }

  .login__title {
    text-align: center;
  }

  .login__form {
    padding: 65px 45px;
    align-items: flex-start;
  }

  .login__wrapper {
    width: 100%;
    max-width: 540px;
    gap: var(--wrapper-gap);
  }

  .login__fields {
    width: 100%;
    gap: var(--fields-gap);
  }

  .login__field input,
  .login__submit,
  .login__buttons {
    width: 100%;
  }

  .login__thankyou-text {
    max-width: 100%;
  }
}

/* -----------------------------
DESKTOP (min-width:1600px)
----------------------------- */
@media (min-width:1600px) {
  :root {
    --width-input: min(760px, 34vw);
    --width-button: min(760px, 34vw);
    --width-button-half: min(350px, 16vw);

    --height-input: 60px;
    --height-button: 60px;

    --ticket-width: 340px;
    --shift-ticket-group-2: 280px;

    --gap-fields: 55px;
    --gap-oauth-fields: 32px;
    --gap-oauth-logos: 48px;

    --text-company-name: 56px;
    --text-slogan: 24px;

    --text-form-title: 34px;

    --text-input: 17px;
    --text-button: 17px;
    --text-links: 16px;

    --text-annotation: 16px;
  }

  .login__aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
  }

  .login__branding {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}

/* -----------------------------
BIG SCREENS (min-width:2000px)
----------------------------- */
@media (min-width:2000px) {
  :root {
    --width-input: min(900px, 30vw);
    --width-button: min(900px, 30vw);
    --width-button-half: min(420px, 14vw);

    --height-input: 70px;
    --height-button: 70px;

    --ticket-width: 420px;
    --shift-ticket-group-2: 340px;

    --gap-fields: 75px;
    --gap-oauth-fields: 44px;
    --gap-oauth-logos: 60px;

    --text-company-name: 78px;
    --text-slogan: 32px;

    --text-form-title: 44px;

    --text-input: 20px;
    --text-button: 20px;
    --text-links: 18px;

    --text-annotation: 18px;
    --text-small-annotation: 16px;

    --padding-input: 26px;

    --sidebar-gap: 110px;
  }
}

/* -----------------------------
ULTRA SCREENS (min-width:3000px)
----------------------------- */
@media (min-width:3000px) {
  :root {
    --width-input: min(1100px, 26vw);
    --width-button: min(1100px, 26vw);
    --width-button-half: min(520px, 13vw);

    --height-input: 84px;
    --height-button: 84px;

    --ticket-width: 540px;
    --shift-ticket-group-2: 440px;

    --gap-fields: 95px;

    --text-company-name: 110px;
    --text-slogan: 44px;

    --text-form-title: 60px;

    --text-input: 24px;
    --text-button: 24px;
    --text-links: 22px;

    --text-annotation: 22px;

    --padding-input: 32px;

    --sidebar-gap: 150px;
  }
}

/* -----------------------------
MINI-MINI SCREENS (max-width:300px)
----------------------------- */
@media (max-width:300px) {
  :root {
    --width-input: 95%;
    --width-button: 95%;
    --width-button-half: 90px;

    --height-input: 25px;
    --height-button: 28px;

    --gap-fields: 2px;
    --gap-annotation: 3px;
    --padding-bottom-field: 6px;

    --radius-input: 2px;
    --radius-button: 3px;

    --text-company-name: 18px;
    --text-slogan: 14px;
    --text-form-title: 16px;
    --text-input: 12px;
    --text-button: 14px;
    --text-links: 12px;
    --text-annotation: 10px;
    --text-small-annotation: 8px;

    --size-oauth: 15px;
    --icon-height-input: 7px;
    --padding-input: 2px;

    --sidebar-gap: 10px;
  }

  .login__wrapper {
    width: 100%;
    max-width: 540px;
    gap: 20px;
  }

  .login__fields {
    width: 100%;
    gap: 20px;
  }

  html, body, main.login {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .login {
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    padding-top: 20px;
  }

  .login__form {
    padding: 5px;
  }

  .login__aside {
    display: none;
  }

  .login__oauth-buttons {
    flex-direction: column;
  }
}

/* ========================================
RETURN BUTTON
======================================== */

.login__form {
    position: relative;
}

/* Ссылка-крестик */
.login__close {
    position: absolute;
    top: 30px;
    right: 30px;

    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: none;
    border: none;
    cursor: pointer;

    color: var(--color-placeholder);
    transition: all 0.3s ease;
    z-index: 5;
}

.login__close svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.login__close:hover {
    color: var(--color-accent-1);
}

.login__close:active {
    transform: scale(0.95);
}
