<div class="event-create-form__dates-item">
  <label class="event-create-form__field event-create-form__field--compact">
    <span class="event-create-form__label event-create-form__label--small">Дата</span>
    <input
      type="date"
      class="event-create-form__input"
      name="multipleDates"
      data-role="event-create-multiple-date-input"
    />
  </label>
  <label class="event-create-form__field event-create-form__field--compact">
    <span class="event-create-form__label event-create-form__label--small">Начало</span>
    <input
      type="time"
      class="event-create-form__input"
      name="multipleStartTimes"
      data-role="event-create-multiple-time-input"
    />
  </label>
  <label class="event-create-form__field event-create-form__field--compact">
    <span class="event-create-form__label event-create-form__label--small">Конец</span>
    <input
      type="time"
      class="event-create-form__input"
      name="multipleEndTimes"
      data-role="event-create-multiple-time-input"
    />
  </label>
  <button
    type="button"
    class="event-create-form__dates-remove"
    data-action="event-create-remove-date"
    aria-label="Убрать дату"
  >
    ×
  </button>
</div>
