<div class="event-list-page">
  <header class="event-list-page__header">
    {{> header}}
  </header>

  <main class="event-list-page__content">
    <section class="event-list-page__hero">
      <div class="event-list-page__container">
        {{{eventListFilters}}}
      </div>
    </section>

    <div class="event-list-page__container">
      {{{eventListCatalog}}}
    </div>
  </main>
</div>
